<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuss.persistent.mapper.SpRiskRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wuss.entity.SpRiskRecord" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="risk_type" property="riskType" jdbcType="VARCHAR" />
    <result column="risk_level" property="riskLevel" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, customer_id, org_code, org_name, risk_type, risk_level, remark, create_date, 
    create_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuss.entity.SpRiskRecordCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_risk_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from sp_risk_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="lockByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from sp_risk_record
    where id = #{id,jdbcType=BIGINT} for update 
  </select>
  <select id="lockByExample" resultMap="BaseResultMap" parameterType="com.wuss.entity.SpRiskRecordCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <include refid="Base_Column_List" />
    from sp_risk_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
     for update 
  </select>
  <select id="pageByExample" resultMap="BaseResultMap" parameterType="com.wuss.entity.SpRiskRecordCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sp_risk_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="lastInsertId" resultType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
      select case lastId when 0 then 'can not get last insert id' else lastId end as lastId from ( select  LAST_INSERT_ID() lastId ) s1  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from sp_risk_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuss.entity.SpRiskRecordCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from sp_risk_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuss.entity.SpRiskRecord" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into sp_risk_record (id, customer_id, org_code, 
      org_name, risk_type, risk_level, 
      remark, create_date, create_datetime
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{riskType,jdbcType=VARCHAR}, #{riskLevel,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=INTEGER}, #{createDatetime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuss.entity.SpRiskRecord" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into sp_risk_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="riskType != null" >
        risk_type,
      </if>
      <if test="riskLevel != null" >
        risk_level,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null" >
        #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null" >
        #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuss.entity.SpRiskRecordCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from sp_risk_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update sp_risk_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.riskType != null" >
        risk_type = #{record.riskType,jdbcType=VARCHAR},
      </if>
      <if test="record.riskLevel != null" >
        risk_level = #{record.riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=INTEGER},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update sp_risk_record
    set id = #{record.id,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      risk_type = #{record.riskType,jdbcType=VARCHAR},
      risk_level = #{record.riskLevel,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=INTEGER},
      create_datetime = #{record.createDatetime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuss.entity.SpRiskRecord" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update sp_risk_record
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null" >
        risk_type = #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null" >
        risk_level = #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuss.entity.SpRiskRecord" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update sp_risk_record
    set customer_id = #{customerId,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      risk_type = #{riskType,jdbcType=VARCHAR},
      risk_level = #{riskLevel,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="java.util.List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into sp_risk_record (id, customer_id, org_code, 
      org_name, risk_type, risk_level, 
      remark, create_date, create_datetime
      ) values 
    <foreach collection="list" item="listItem" separator="," >
      (#{listItem.id,jdbcType=BIGINT}, #{listItem.customerId,jdbcType=VARCHAR}, #{listItem.orgCode,jdbcType=VARCHAR}, 
        #{listItem.orgName,jdbcType=VARCHAR}, #{listItem.riskType,jdbcType=VARCHAR}, #{listItem.riskLevel,jdbcType=VARCHAR}, 
        #{listItem.remark,jdbcType=VARCHAR}, #{listItem.createDate,jdbcType=INTEGER}, #{listItem.createDatetime,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
</mapper>